:root {
  --primary-color: #333333;
  --text-color: #4f4f4f;
  --footer-text-color: #bdbdbd;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px;
  min-height: 100vh;
}

.header__title {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  text-transform: uppercase;
}

.main {
  font-family: 'Space Mono', monospace;
  margin-bottom: 40px;
}

.main__figure {
  margin-bottom: 60px;
  margin-top: 64px;
  text-align: center;
}

.main__image {
  width: 300px;
  max-height: 415px;
  max-width: 540px;
}

.main__title {
  color: var(--primary-color);
  font-size: 48px;
  line-height: 71.09px;
  margin-bottom: 30px;
}

.main__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 26.66px;
  margin-bottom: 66px;
}

.main__button {
  background-color: var(--primary-color);
  border: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  width: 216px;
  height: 68px;
}

.footer {
  color: var(--footer-text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer__link {
  color: inherit;
  font-weight: bold;
}

@media (min-width: 768px) {
  body {
    padding-top: 40px;
    padding-left: 77px;
    padding-right: 77px;
  }

  .main {
    display: flex;
    justify-content: space-between;
  }

  .main__image {
    width: 260px;
  }

  .main__title {
    font-size: 38px;
    max-width: 600px;
  }

  .main__content {
    margin-left: 120px;
  }
}

@media (min-width: 1200px) {
  .main {
    align-self: center;
    max-width: 1200px;
  }

  .main__image {
    width: 100%;
  }

  .main__title {
    font-size: 64px;
  }
}
